section.about(id = "about")
  h1 About
  p.about-p Willkommen zu Hochwasser 3, der Adaption eines frühen, leicht absurden Theaterstücks von Günter Grass. Draußen schüttet es aus allen Kübeln und die Wasser steigen; drinnen versuchen Menschen und Ratten zu retten, was noch zu retten ist: Leib und Lebenswerk, Beziehungen und den Glauben an eine Zukunft. Die Flut lässt alle Unterschiede zwischen den ungleichen Protagonisten verschwimmen und treibt zuletzt (fast) alle hoch aufs Dach. Werden sie sich dort näher kommen und einander erkennen?
  #video
    iframe(width="560" height="315" src="https://www.youtube.com/embed/X209UHPUDaM" frameborder="0" allowfullscreen)