section.cast.wrap
	h1.cast-crew Cast/Crew
	section.peopleWrap
		div.people
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/arturo.jpg", alt="arturo!").arturo
				div.description
					h2 Arturo Mena
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			