section.cast.wrap(id = "cast")
	h1.cast-crew Cast/Crew
	section.peopleWrap
		div.people
			div.person
				img(src="images/alekzia.jpg", alt="arturo!").arturo
				div.description
					h2 Alekzia Hosein
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/ana.jpg", alt="arturo!").arturo
				div.description
					h2 Ana Maytah
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/aneta.jpg", alt="arturo!").arturo
				div.description
					h2 Aneta Latoszewski
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/aphtarsia.jpg", alt="arturo!").arturo
				div.description
					h2 Darcie Pei
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/ben.jpg", alt="arturo!").arturo
				div.description
					h2 Benji Tang
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/darcie.jpg", alt="arturo!").arturo
				div.description
					h2 Sonja Samsa
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/emily.jpg", alt="arturo!").arturo
				div.description
					h2 Emily Chiang
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/erol.jpg", alt="arturo!").arturo
				div.description
					h2 Erol Boran
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/frances.jpg", alt="arturo!").arturo
				div.description
					h2 Frances Maranger
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/jacob.jpg", alt="arturo!").arturo
				div.description
					h2 Jacob Tsafatinos
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/julia.jpg", alt="arturo!").arturo
				div.description
					h2 Julia Norkus
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/karen.jpg", alt="arturo!").arturo
				div.description
					h2 Karen Furhmann
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/maria.jpg", alt="arturo!").arturo
				div.description
					h2 Maria Sokulsky-Dolnycky
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/michael.jpg", alt="arturo!").arturo
				div.description
					h2 Michael Kozakov
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/pawel.jpg", alt="arturo!").arturo
				div.description
					h2 Pawel Stech
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/sunny.jpg", alt="arturo!").arturo
				div.description
					h2 Sunny Jang
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/tamara.jpg", alt="arturo!").arturo
				div.description
					h2 Tamara Lipowski
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			div.person
				img(src="images/zoie.jpg", alt="arturo!").arturo
				div.description
					h2 Zoe Plessas
					p Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text. Arturo is a Cuban wonder boy who just got a job at Google! blah blha bleep bloop blah holder text holder text holder text.
			