section.cast.wrap(id = "cast")
	h1.cast-crew Cast/Crew
	section.peopleWrap
		div.people
			each val, index in people
				div.person
					img(src="images/"+ people[index].image, alt="arturo!").arturo
					div.description
						h2.name #{people[index].name}
						h3.role #{people[index].role}
						p #{people[index].description}