//- section.contact-info
//- 	section.contactWrap
//- 		section.contact
//- 			p.ticketinfo P.W.Y.C (Pay What You Can) Tickets
//- 			p.address George Ignatieff Theatre, 15 Devonshire Place, Toronto, ON M5S 2C8
//- 			p.phone (416) 978-4166 ext. 1
//- 		section.reservation
//- 			p.reso(id = "reservationBtn", href="http://www.eventbrite.com/event/4653432542?ref=ebtn") Reservations
