section.contact-info
	section.contactWrap
		section.contact
			p.ticketinfo P.W.Y.C (Pay What You Can) Tickets
			p.address Lala Land 382 Bay Street, Toronto, ON, M5B 1S9
			p.phone 416-555-5555
		section.reservation
			p.reso Reservations