header
    nav
        ul.socialmedia
          li.facebook
            a(href='')
              img(src='images/facebooklogo.png')
          li.twitter
            a(href='')
              img(src='images/twitterlogo.png')
          li.instagram
            a(href='')
              img(src='images/instagramlogo.png')
        ul.menu
          li.contact
            a(href='') CONTACT
          li.about
            a(href='') ABOUT
          li.cast
            a(href='') CAST/CREW
      article.title-picture
        h1.title HOCHWASSER 3
        h2.date 04.17 - 04.20
