header
    nav
        ul.socialmedia
          li.sm-item
            a(href='')
              img(src='images/facebooklogo.png')
          li.sm-item
            a(href='')
              img(src='images/twitterlogo.png')
          li.sm-item
            a(href='')
              img(src='images/instagramlogo.png')
        ul.menu
          li.menu-item
            a(href='') CONTACT
          li.menu-item
            a(href='') ABOUT
          li.menu-item
            a(href='') CAST/CREW
    article.head
      h1.title HOCHWASSER 3
      h2.date 04.17 - 04.20
